.full-screen {
  height: 100vh;
  width: 100vw;
 
}
/* CompanyLayout.css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it's above other elements */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn {
  margin: 10px;
}




.scrollable-content {
  height: 100%; /* Ensure it takes full height for scrolling */
  overflow-y: scroll; /* Ensure the content is scrollable */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  max-height: 600px;
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}